
html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: inherit;
}
.titulo{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration:double;
    text-align: center;
    color: #000000;
}

h1{
  text-align: center;
}

h2{
    text-align: center;
    font-size: x-large;
    color: #003bfc;
    margin-bottom: 10pcx;
   }






header {
    background-image: url('/Jose_Portafolio/images/dondo_principal.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin-top: auto;
}


.header_logo{
    max-width: 60%;
    justify-content: center;
    align-items: center;
       
}
@media (max-width: 770px) {
  .navegacion {
      flex-direction: column; /* Cambia la disposición a columna cuando la pantalla es pequeña */
      align-items: center; /* Alinea los elementos al centro */
  }
}






.navegacion{
display: flex;
flex-wrap: wrap;
background-color: rgba(0, 203, 253, 0.836);
padding: 5px;
display: flex;
flex-direction: row;

justify-content: space-between;
gap: 3rem;
}

.navegacion_enlace{
  display: block;
  text-align: center;
  color: var(--blanco);
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  padding: 2rem;
  width: 90%;
  text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    font-size: 3rem;
}

.navegacion_enlace:hover{
  
    color: rgb(8, 8, 8);
    background-color: #e5ff00;
}



main{
  background-color: rgba(131, 20, 187, 0.418);
}


.wsap{
    display: grid;
    grid-template-columns:repeat(3, 2fr) ;
    gap: 5rem;
    padding: 1rem;
    
    align-items: normal;
    
}

.image {
    padding: auto;
    max-width: 99%; 
    height: auto; 
    display: block;
    border-radius: 50px;
    image-orientation: flip;
    
    
    cursor: pointer;
    
    
  }
  .Redes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2 auto;
    gap: 10px;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items:last baseline;
   
  }
  a{
    text-decoration:dashed;
  }
  
  .image:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tamaño en hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Intensifica la sombra en hover */
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 8px 19px rgb(251, 255, 2);
    
  }
  .field {
    margin-bottom: 10px;
  }
  
  .field label {
    display: block;
    font-size: 30px;
    color: #0f0101;
    
    
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
  }
  
  input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #44aa55;
    color:transparent;
    border: none
    
   
  }
  input[type="submit"]:hover
   {
    background-color: #e5ff00;
    cursor: pointer;
    color: #0f0101;
    transform: scale(.9);
    border-radius: 3rem;
    
    
  }
  .setc_1 input{
    display: flex;
    align-items: center;
    justify-content: center;    
  }
  .setc_1 input,
  .sect_2,
  .sect_3{
    gap: 10px;
    box-shadow: 0px 25px 65px 7px rgba(0, 0, 0, 0.62);
    background-color:rgba(0, 238, 255, 0.39);
    text-align: center;
    width:min(60rem, 100%);
    border-radius: 3rem;
    box-shadow: 0px 25px 65px 7px rgba(0, 0, 0, 3);
    padding: 2rem;
    
     
  }
  .setc_1:hover,
  .sect_2:hover,
  .sect_3:hover{
    transform: scale(1.05); 
  }
  
  
  


  .footer{
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    text-align: center;
    padding: 20px;
    font-size: xx-large;
  
  }

  .footer {
    position: relative;
    overflow: hidden;
    width: 100%;
    background-color: #222;
    color: rgb(242, 247, 1);
    height: 50px;
    display: flex;
    align-items: center;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    transform: translateX(10);
    transition: transform 0s; /* Sin movimiento inicial */
    font-size: 40px;
    animation: scroll-text 10s linear infinite;
}
.footer:hover .marquee {
  animation-play-state:paused ;
  color: red;
}
@keyframes scroll-text {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(-100%);
    }
}
span{
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  